name: Deploy PlantPassApp

on:
  push:
    branches:
      - staging
  pull_request:
    branches:
      - master
      - staging

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies & build
        run: |
          cd PlantPassApp
          npm install
          npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.2
          terraform_wrapper: false

      - name: Terraform Init & Apply
        working-directory: ./terraform
        run: |
          terraform init -input=false
          terraform apply -auto-approve -input=false -lock-timeout=60s

      - name: Get frontend bucket name
        working-directory: ./terraform
        id: bucket
        run: |
          BUCKET=$(terraform output frontend_bucket_name)
          echo "Bucket is: $BUCKET"
          echo "name=$BUCKET" >> $GITHUB_OUTPUT

      - name: Deploy frontend to S3
        run: |
          aws s3 sync ./PlantPassApp/dist/ s3://${{ steps.bucket.outputs.name }} --delete
    
  deploy-middleware:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # - name: Install dependencies
      #   run: |
      #     cd TransactionHandler
      #     pip install -r requirements.txt -t .
      #     cd ..

      - name: Package Lambda
        run: |
          cd TransactionHandler
          zip -r ../lambda_package.zip .
          cd ..

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        run: |
          cd terraform
          terraform init

      - name: Terraform Apply
        run: |
          cd terraform
          terraform apply -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        run: |
          echo "Perform Backend Deploy Steps Here!"
