name: Deploy PlantPassApp

on:
  push:
    branches:
      - staging
  pull_request:
    branches:
      - master
      - staging

jobs:
  prepare-lambda:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Package Lambda
        run: |
          cd src/TransactionHandler
          zip -r ../../terraform/lambda_package.zip .
          cd ..

      - name: Upload Lambda ZIP
        uses: actions/upload-artifact@v4
        with:
          name: lambda-package
          path: terraform/lambda_package.zip


  deploy-infra:
    runs-on: ubuntu-latest
    needs: prepare-lambda
    outputs:
      name: ${{ steps.bucket.outputs.name }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.2
          terraform_wrapper: false

      - name: Download Lambda ZIP
        uses: actions/download-artifact@v4
        with:
          name: lambda-package
          path: terraform

      - name: Terraform Init & Apply
        working-directory: ./terraform
        run: |
          terraform init -input=false
          terraform apply -auto-approve -input=false -lock-timeout=60s \
            -var "lambda_zip_path=lambda_package.zip"

      - name: Get frontend bucket name
        id: bucket
        working-directory: ./terraform
        run: |
          BUCKET=$(terraform output frontend_bucket_name | tr -d '"')
          echo "name=$BUCKET" >> $GITHUB_OUTPUT


  deploy-frontend:
    runs-on: ubuntu-latest
    needs: deploy-infra
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Build Frontend
        run: |
          cd src/PlantPassApp
          npm install
          npm run build

      - name: Deploy frontend to S3
        run: |
          aws s3 sync ./src/PlantPassApp/dist/ s3://${{ needs.deploy-infra.outputs.name }} --delete
